.list {
    background: #FFFFFF;
    border-radius: 28px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    flex: 1 1 65%;
}

.headerExpense {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
}

.tblTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.21;
}

.blockFilter {
    display: flex;
    gap: 24px;
}

.titleFilter {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.select {
    border: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.expenseContainer {
    max-height: 618px;
    overflow-x: auto;
}

.headerRow {
    border-bottom: 1px solid #ddd;
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    align-items: center;
}

.expenseItem {
    padding-top: 40px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.subtitle, .content {
    flex: 1 0 16%;
}

.subtitle {

}

.content {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
}

.contentBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.contentBtn button {
    border: none;
    outline: none;
    background: transparent;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
}



