@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #F4F5F6;
}

.App {
    font-family: 'Montserrat', serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 40px;
}

.my-expenses {
    max-width: 1222px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    gap: 34px;
    background: #F4F5F6;
    flex-wrap: wrap;
    width: 100%;
}
